@use "mixins" as *;
@use "font" as *;
@use "icon" as *;

.breadcrumbs {
	@extend %font-2;
	margin: 16px 0;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
	}

	&__item {
		display: flex;
		align-items: center;
		color: var(--color-text2);
		gap: 4px;

		a {
			@include hoverType1;
		}

		&:not(:last-child) {
			&::after {
				content: "";
				@extend %icon, %icon--chevron_right;
				color: var(--color-primary);
				margin: 0 -4px;
			}
		}
	}
}