@use "icon" as *;
@use "font" as *;
@use "mixins" as *;

.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;

	// @extend %font-2;
	// color: var(--color-primary);
	&:has(:disabled) {
		cursor: not-allowed;
	}

	&:not(:has(:disabled)) {
		cursor: pointer;

		&:is(:hover, :focus-within) {
			color: var(--color-primary);
		}
	}

	input[type="checkbox"] {
		width: 24px;
		height: 24px;
		position: relative;
		appearance: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background-color: var(--color-text-alt);
		border-radius: var(--default-border-radius-small);
		border-width: 2px;
		border-style: solid;
		border-color: var(--default-border-color);
		transition: border-color var(--default-duration) ease;
		cursor: inherit;

		&:disabled {
			border-color: var(--color-text2);
		}

		&:not(:disabled) {
			&::before {
				content: "";
				@extend %icon, %icon--check;
				--icon-size: 24;
				--icon-color: var(--color-accent);
				opacity: 0;
				position: absolute;
			}

			&:is(:hover, :focus-within),
			&:checked {
				border-color: var(--color-primary);
			}

			&:checked {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	a {
		@include hoverType3;
	}
}