@use "button";
@use "font";
@use "breakpoint" as *;
@use "mixins" as *;

.cookie-alert {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-top: var(--default-border-width) solid var(--color-accent);

  &__inner {
    padding: gap-scale(.5) 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: gap-scale(0.5);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    @extend %font-2;

    a {
      @include hoverType1;
    }
  }

  &__accept {
    @extend %button, %button--small;
  }
}