.custom-radio {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;

	&:has(:disabled) {
		cursor: not-allowed;
	}

	&:not(:has(:disabled)) {
		cursor: pointer;

		&:is(:hover, :focus-within) {
			color: var(--color-primary);
		}
	}

	input[type="radio"] {
		width: 24px;
		height: 24px;
		position: relative;
		appearance: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: 50%;
		border-width: 2px;
		border-style: solid;
		border-color: var(--default-border-color);
		transition: border-color var(--default-duration) ease;
		cursor: inherit;

		&:disabled {
			border-color: var(--color-text2);
		}

		&:not(:disabled) {
			&::before {
				content: "";
				position: absolute;
				border-radius: inherit;
				border-style: solid;
				border-color: var(--color-primary);
				border-width: 5px;
				transform: scale(0);
				transition: transform var(--default-duration) ease;
			}

			&:is(:hover, :focus-within),
			&:checked {
				border-color: var(--color-primary);
			}

			&:checked {
				&::before {
					transform: scale(1);
				}
			}
		}
	}
}