@use "breakpoint" as *;
@use "font" as *;
@use "icon" as *;
@use "button" as *;
@use "mixins" as *;

.dialog {
	width: 100%;
	height: 100%;
	max-width: unset;
	max-height: unset;
	background-color: #0000;
	border: none;
	overflow: hidden;
	z-index: 999;
	padding: gap-scale(1);

	@media (max-width: $mobile) {
		padding: 0;
	}

	&[open] {
		display: flex;
		justify-content: center;
	}

	&__body {
		max-height: 100%;
		margin: auto;
		background-color: var(--color-text-alt);
		border-radius: var(--default-border-radius-small);
		width: calc(var(--container-width) / 2);
		padding: 32px gap-scale(1);
		overflow: auto;
		overscroll-behavior: none;
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media (max-width: $mobile) {
			border-radius: 0;
			height: 100%;
			padding: gap-scale(1);
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__title {
		color: var(--color-primary);
	}

	&__hgroup {
		@extend %font-2;
	}

	&__close {
		align-self: flex-start;
		flex-shrink: 0;
		cursor: pointer;
		color: var(--color-primary);
		--icon-size: 32;

		&:is(:hover, :focus-within) {
			color: var(--color-accent);
		}

		&::after {
			content: "";
			@extend %icon, %icon--close;
		}
	}

	&::backdrop {
		background: #0008;
	}
}