@use "font" as *;
@use "button" as *;
@use "icon" as *;
@use "mixins" as *;
@use "breakpoint" as *;

.filter {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__panel {
		display: flex;
		gap: 8px 12px;
		flex-wrap: wrap;
	}

	&.is-active &__toggler {
		border-color: #0000;

		&::before {
			transform: rotate(180deg);
		}

		&::after {
			transform: scaleY(-1);
		}
	}

	&__toggler {
		@extend %button-text;

		&:not(:last-child) {
			padding-right: 8px;
			border-right: var(--default-border);
		}

		&::before {
			content: "";
			@extend %icon, %icon--gear;
			transition: transform ease var(--default-duration);
		}

		&::after {
			content: "";
			@extend %icon, %icon--chevron_down;
			transition: transform ease var(--default-duration);
		}
	}

	&.is-active &__applied {
		display: none;
	}

	&__applied {
		display: contents;

		&__item {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 4px;
			@extend %font-2;

			&__value {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;
				padding: 0 4px 0 10px;
				border: var(--default-border);
				border-radius: var(--default-border-radius-small);
				--icon-size: 20;
				color: var(--color-primary);
			}

			&__remove {
				&:is(:hover, :focus-within) {
					color: var(--color-accent);
				}

				&::after {
					content: "";
					@extend %icon, %icon--close;
				}
			}
		}
	}

	&:not(.is-active) &__form {
		display: none;
	}
}