@use "text" as *;
@use "mixins" as *;

.manual {
	@extend %text;

	u {
		text-decoration: underline;
	}

	big {
		font-size: 1.25em;
	}

	a {
		&:is(:hover, :focus-within) :is(u, span, b, strong, big) {
			color: inherit !important;
		}

		.icon {
			display: inline-flex;
			vertical-align: middle;
		}
	}

	:root.theme & [style*="color:"] {
		color: revert !important;
	}

	[style*="background-color"] {
		background-color: unset !important;
	}

	[style*="font"] {
		font-family: inherit !important;
	}

	td {
		font: inherit !important;
	}

	// кнопки скачивания
	u:has(+ img) {

		a,
		+ img,
		& {
			display: inline;
			vertical-align: middle;
			margin: 0;
		}

		+ img {
			margin-bottom: 0 !important;
		}
	}

	u:has(a) + a + img,
	a:has(u) + img,
	a:has(u) + a:has(img) img {
		display: inline;
		vertical-align: middle;
		margin-bottom: 0 !important;
	}

	* {
		border-color: var(--default-border-color) !important;
	}
}