@use "mixins" as *;
@use "button" as *;
@use "font" as *;

.recservice1 {
  display: flex;
  flex-direction: column;
  max-width: 700px;

  &__item {
    padding: gap-scale(0.75) gap-scale(1) gap-scale(0.75) 0;
    display: flex;
    flex-direction: column;
    gap: gap-scale(0.5);
  }

  &__analysis {
    display: flex;
    align-items: center;
    gap: gap-scale(0.5);
    padding: gap-scale(0.75) gap-scale(1);
    border: var(--default-border);
    border-radius: var(--default-border-radius-small);

    &__time {
      @include hoverType3;
    }

    .loader {
      --loader-size: 32px;
    }

    .icon-buttons {
      margin-left: auto;
    }

    &:has(> .loader) &__time {
      cursor: wait;
    }
  }

  &__tabs {
    display: flex;
    gap: gap-scale(0.25);
  }

  &__tab {
    padding: gap-scale(0.5);
    border: var(--default-border);
    border-radius: var(--default-border-radius-small);
    @include hoverTypeBorder;
    @include hoverType2;
  }

  &__content {
    &:not(.is-active) {
      display: none;
    }
  }
}